@keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

img {
    view-timeline-name: --revealing-image;

    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;

    animation-range: entry 25% cover 50%;
}

              
.swing:hover{
    animation-name: swing;
        -webkit-animation-name: swing;
        -moz-animation-name: swing;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
}

    @keyframes swing {
        20% {transform: rotate3d(0, 0, 1, 15deg);}
        40% {transform: rotate3d(0, 0, 1, -10deg);}
        60% {transform: rotate3d(0, 0, 1, 5deg);}
        80% {transform: rotate3d(0, 0, 1, -5deg);}
        to  {transform: rotate3d(0, 0, 1, 0deg);}
    }
              